@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
}

.containerBox{
    width: 100%;
    height: 860px;
    background: url(./images/bak1.svg);
    background-repeat: repeat;
    background-size: cover;
}

.innerContainer{
    width: 90%;
    margin: auto;
}
.logo{
    margin-top: 2rem;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    /* margin-left: -2rem; */
}
.navy{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navy li{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    padding-right: 1.5rem;
    cursor: pointer;
}

.field{
    margin-left: 1.5rem;
    margin-top: -1.2rem;
}

.field button{
    width: 130px;
    height: 45px;
    background: #005490;
    border-radius: 8px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0.5rem;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.hero{
    display: flex;
    /* justify-content: space-evenly; */
}

.tom {
    margin-left: -6rem;
    margin-bottom: 5rem;
    width: 100%;
    margin-right: 4rem;
}

.tom>img{
    width: 120%;
    margin-top: 2rem;
}

.text {
    padding-top: 8rem;
}

.text h2 {
    height: 230px;
    width: 655px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
}

.text>img{
    margin-top: -7rem;
    width: 28%;
}

.text p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    height: 78px;
    width: 68%;
    padding-top: 1rem;
    margin-bottom: 5rem;
    }

 .btn1 {
        width: 197px;
        height: 57px;
        background: #FFFFFF;
        border-radius: 4px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        border-color: transparent;
        color: #00A8DB;
        cursor: pointer;
        }

 .btn1:hover {
        background: #328BCB;
        color: white;
      }


.btn2 {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        width: 180px;
        height: 50px;
        border-style: none;
        background: none;
        cursor: pointer;
        margin-left: 2rem;
 }

.Section2{
    margin-top: 8rem;
}

.sec2{
    display: flex;
    justify-content: space-evenly;
}

.section3{
    width: 90%;
    margin: auto;
    margin-top: 8rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

.pic{
    display: flex;
    justify-content: right;
}

.curv img{
    margin-top: 4rem;
}

.pho img{
    margin-left: -40rem;
}

.imp{
    margin-left: 5rem;
}

.imp h2{
    width: 390px;
    height: 104px;
    font-family: 'DM Sans';
    Font-style: Bold;
    font-size: 36px;
    line-height: 52px;
    Letter-spacing: 0.3px;
    color: #034D82;
    margin-top: 8rem;
}

.imp p{
    Width: 485px;
    height: 96px;
    Font-family: 'DM Sans';
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 32px;
    vertical-align: Top;
    Letter-spacing: 0.3px;
    color: #90A3B4;
    margin-top: 2rem;
}

.btn3 button{
    width: 165px;
    height: 21px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'DM Sans';
    font-style: bold;
    font-size: 16px;
    line-height: 21px;
    border-color: transparent;
    color: #00A8DB;
    cursor: pointer;
}

.section4{
    width: 85%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
}

.sch h2{
    width: 446px;
    height: 104px;
    Font-family: 'DM Sans';
    Font-style: Bold;
    Font-size: 36px;
    Line-height: 52px;
    Letter-spacing: 0.3px;
    color: #034D82;
}

.sch p{
    width: 485px;
    height: 64px;
    Font-family: 'DM Sans';
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 32px;
    Letter-spacing: 0.3px;
    color: #90A3B4;
    margin-top: 1rem;
}

.best1{
    display: flex;
}

.best1 p{
    Width: 139px;
    height: 21px;
    Font-family: 'DM Sans';
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 21px;
    Letter-spacing: 0.3px;
    color: #90A3B4;
    margin-left: 1rem;
    margin-top: 1rem;
}

.best1 img{
    margin-top: 1rem;
}

.btn4 button{
    width: 240px;
    height: 21px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'DM Sans';
    font-style: bold;
    font-size: 16px;
    line-height: 21px;
    border-color: transparent;
    color: #00A8DB;
    cursor: pointer;
    margin-top: 1.2rem;
    margin-left: -0.5rem;
}

.macbookk img{
    margin-top: 0.8rem;
    margin-left: 4rem;
}

.macbookk>img{
   width: 85%;
}


.section5{
    background: #EFFBFF;
    width: 100%;
    padding-bottom: 3rem;
}

.Track h2{
    Font-family: 'DM Sans';
    Font-style: Bold;
    Font-size: 36px;
    Line-height: 52px;
    Letter-spacing: 0.3px;
    color: #034D82;
    text-align: center;
    padding-top: 3rem;
}

.Track p{
    Font-family: 'DM Sans';
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 28px;
    Letter-spacing: 0.3px;
    color: #8EA9C1;
    margin-top: 1rem;
    text-align: center;
}


.Track2{
    margin-top: 3rem;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    width: 280px;
    height: 310px;
    padding: 40px;
    gap: 30px; 
    border: none;
}

.Track2 h4{
    Font-family: 'DM Sans';
    Font-style: Bold;
    Font-size: 20px;
    Line-height: 32px;
    Letter-spacing: 0.2px;
    color: #034D82;
    margin-top: 1.2rem;
}

.Track2 p{
    width: 198px;
    height: 72px;
    Font-family: 'DM Sans';
    Font-style: Regular;
    Font-size: 15px;
    Line-height: 24px;
    Letter-spacing: 0.8px;
    color: #8EA9C1;
    margin-top: 1.4rem;
}

.Track2:hover {
    width: 280px;
    height: 310px;
    background: #EFFBFF;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.4s;
    color: #DEDEDE;
  }

.Track1{
    display: flex;
    justify-content: space-evenly;
}

.section6{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
    margin-bottom: 7rem;
    width: 95%;
}

.power h2{
    width: 463px;
    height: 156px;
    Font-family: 'DM Sans';
    Font-style: Bold;
    Font-size: 36px;
    Line-height: 52px;
    Letter-spacing: 0.3px;
    color: #034D82;
}

.power p{
    width: 421px;
    height: 36px;
    Font-family: 'DM Sans';
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 32px;
    Letter-spacing: 0.3px;
    color: #90A3B4;
}


.jaq p{
    width: 442px;
    height: 96px;
    Font-family: 'DM Sans';
    Font-style: Italic;
    Font-size: 16px;
    Line-height: 32px;
    color: #90A3B4;
    margin-left: 5rem;
}

.la{
    display: flex;
}

.lad1 img{
    margin-left: 2rem;
    margin-top: 1rem;
}

.dam1 button{
    width: 30px;
    height: 30px;
    border-radius: 4px; 
    background: #FFFFFF;
    border-color: transparent;
    color: #00A8DB;
    cursor: pointer;
    margin-top: 3rem;
    /* margin-left: -1rem; */
}

.da1 h4{
    width: 121px;
    height: 24px;
    Font-family: 'DM Sans';
    Font-style: Bold;
    Font-size: 20px;
    Line-height: 24px;
    Letter-spacing: 0.2px;
    color: #034D82;
    margin-left: 2rem;
}

.da1 span{
    width: 286px;
    height: 28px;
    Font-family: 'DM Sans';
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 28px;
    color: #90A3B4;
    margin-left: 2rem;
    margin-right: 5rem;
}

.dam2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding-left: 3rem;
}

.dam{
    display: flex;
    justify-content: space-evenly;
}


.dam1:hover button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #034D82;
    color: #FFFFFF; 
}

.dot{
    margin-top: 3rem;
    margin-left: 5rem;
}

.section7{
    background-image: url(./images/backk.png);
    width: 75%;
    background-repeat: repeat;
    background-size: cover;
    margin: auto;
}

.oon{
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-evenly;
}

.sectn h2{
    width: 355px;
    height: 132px;
    Font-family: 'DM Sans';
    Font-style: Bold;
    Font-size: 36px;
    Line-height: 44px;
    Letter-spacing: 0.3px;
    color: #FFFFFF;
    padding-top: 3rem;
}

.sectn p{
    Font-family: 'DM Sans';
    Font-style: Medium;
    Font-size: 14px;
    Line-height: 32px;
    Letter-spacing: 0.3px;
    color: #FFFFFF;
    margin-top: 5rem;
}

.sectn img{
   margin-left: 6.5rem;
   margin-top: 0.5rem;
}

.prop{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.prop p{
    Font-family: 'DM Sans';
    Font-style: Medium;
    Font-size: 14px;
    Line-height: 32px;
    Letter-spacing: 0.3px;
    color: #FFFFFF;
    margin-left: 2rem;
}

.bbt button{
    width: 197px;
    height: 57px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    border-color: transparent;
    color: #00A8DB;
    cursor: pointer;
    margin-top: 10rem;
}

.section8{
    background-image: url(./images/baack.png);
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
}

.eya img{
    margin-top: 2rem; 
    margin-bottom: 3rem;
}

.eya{
    margin-top: 4rem;
}

.eya p{
    width: 263px;
    height: 54px;
    Font-family: 'DM Sans';
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 28px;
    color: #D3D6D8;
}

.you h3{
    Font-family: 'DM Sans';
    Font-style: Bold;
    Font-size: 18px;
    font-weight: 700px;
    Line-height: 23px;
    color: #D3D6D8;
}

.you p{
    Font-family: 'DM Sans';
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 21px;
    margin-top: 2rem;
    color: #D3D6D8;
    padding-right: 5rem;
}
.eya2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
}

.secttt{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.harrt p{
    Font-family: 'DM Sans';
    Font-style: Bold;
    font-weight: 700;
    Font-size: 16px;
    Line-height: 21px;
    color: #D3D6D8;
    text-align: center;
}

.harrt img{
    padding-left: 43rem;
}
.harrt{
   padding-bottom: 4rem;
}

@media screen and (max-width: 1024px){
    .text h2{
    font-size: 50px;
    line-height: 55px;
    }

    .text>img{
        width: 20%;
        padding-bottom: 4rem;
    }

    .text p{
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        height: 70px;
        width: 60%;
        margin-top: -4rem;
        }

        .btn1 {
            width: 150px;
            height: 50px;
            }

            .btn2 {
                font-size: 16px;
                margin-left: -0.1rem;
         }

         .text {
            padding-top: 10rem;
        }

        .tom>img{
            width: 240%;
            margin-top: 6rem;
            margin-left: -19rem;
        }
        .sec2{
            width: 80%;
            padding-left: 4.5rem;
        }

        .curv>img{
           width: 130%;
        }

        .pho>img{
            width: 400%;
            margin-left: -20rem;
        }

        .imp h2{
            width: 340px;
            height: 90px;
            font-size: 34px;
            line-height: 45px;
            margin-top: 6rem;
        }  

        .imp p{
            Font-size: 15px;
            Line-height: 26px;
        }
        
        .sch h2{
            Font-size: 35px;
            Line-height: 50px;
        }

        .sch p{
            Font-size: 13px;
            Line-height: 24px;
        }

        .best1 p{
            Font-size: 13px;
        }

        .best1>img{
            width: 12px;
        }

        .btn4 button{
            width: 240px;
            height: 21px;
            font-size: 15px;
            line-height: 21px;
            margin-left: -1.5rem;
        }

        .macbookk>img{
         margin-top: 2rem;
          width: 150%;
          margin-left: -8rem;
        } 
        
        .Track2{
            border: 1px solid #DEDEDE;
            border-radius: 10px;
            width: 220px;
            height: 300px;
            
        }

    
        .Track2 h4{
            Font-size: 15px;
            Line-height: 28px;
            margin-top: 0.5rem;
            margin-left: -1.2rem;
        }

        .Track2 p{
            width: 180px;
            Font-size: 13px;
            Line-height: 20px;
            margin-top: 1rem;
            margin-left: -1.3rem;
        }

        .Track2>img{
            margin-left: -1.2rem;
        }


        .power h2{
            width: 380px;
            height: 140px;
            Font-size: 30px;
            Line-height: 45px;
            margin-left: 3rem;
        }

        .power p{
            width: 450px;
            Font-size: 13px;
            margin-left: 3rem;
        }

        .jaq p{
            width: 380px;
            height: 96px;
            Font-size: 14px;
            Line-height: 28px;
            padding-right: -2rem;
        }

        .section6{
            width: 100%;
        }

        .da1 h4{
            width: 130px;
            height: 20px;
            Font-size: 19px;
            margin-top: 0.2rem;
            margin-left: 2rem;
        }

        .da1 span{
            width: 250px;
            height: 24px;
            Font-size: 14px;
            Line-height: 22px;
            /* margin-left: -0.05rem; */
            margin-right: 0.5rem;
        }
       
       .jaq{
        width: 50%;
        margin-right: 5rem;
       }

       .dam2{
        padding-left: 2rem;
    }

    .power{
        width: 50%;
        margin-left: 2rem;
    }


    .eya>img{
        width: 30%;
    }
    
    .eya p{
        width: 220px;
        height: 50px;
        Font-size: 14px;
    }

    .eya1>img{
        width: 15%;
    }

    .you h3{
        Font-size: 16px;
        Line-height: 20px;
    }

    .you p{
        Font-size: 14px;
        Line-height: 18px;
        padding-right: 4rem;
    }

    .harrt p{
        Font-size: 15px;
    }

    .harrt img{
        padding-left: 30rem;
    }
    }

    @media screen and (max-width: 768px){
        .logo>img{
            width: 80%;
        }

        .navy li{
            font-size: 12px;
            padding-right: 1rem;
        }

        .field button{
            width: 80px;
            height: 40px;
            border-radius: 5px;
            font-size: 13px;
            margin-top: 0.5rem;
        }

        .text h2 {
            height: 208px;
            width: 670px;
            font-size: 28px;
            line-height: 35px;
            margin-top: 3rem;
        }

        .text>img{
            width: 11%;
            padding-bottom: 11rem;
        }   

        .text p{
            font-weight: 700;
            font-size: 8px;
            line-height: 23px;
            height: 55px;
            width: 30%;
            margin-top: -11rem;
            }

            .btn1 {
                width: 90px;
                height: 33px;
                font-weight: 500;
                font-size: 8px;
                line-height: 21px;
                }
    
                .btn2 {
                    font-size: 9px;
                    margin-left: -2.5rem;
             }

             .text {
                padding-top: 15rem;
            }
    
            .tom>img{
                width: 600px;
                margin-top: 6rem;
                margin-left: -27.8rem;
                padding-top: 7rem;
            }

            .sec2>img{
                width: 20%;
                padding-right: 2rem;
                text-align: auto;

            }

           
            .curv>img{
                width: 450%;
                /* margin-right: 5.5rem; */
             }
     
             .pho>img{
                 width: 550%;
                 margin-left: -4rem;
                 margin-top: 3rem;
             }

             .imp h2{
                width: 220px;
                height: 85px;
                font-size: 20px;
                line-height: 30px;
                margin-top: 7rem;
                margin-left: 14rem;
            }  
    
            .imp p{
                Width: 250px;
                height: 85px;
                Font-size: 8px;
                Line-height: 18px;
                margin-left: 14rem;
                margin-top: -1rem;
            }

            .btn3 button{
                width: 120px;
                height: 21px;
                font-style: bold;
                font-size: 9px;
                line-height: 21px;
                margin-left: 12.8rem;
                margin-top: -2rem;
            }

            .section3{
                margin-top: 6rem;
                margin-bottom: 10rem;
            }

            /* .section4{
                width: 80%;    
            } */

            .sch h2{
                width: 250px;
                height: 55px;
                Font-size: 22px;
                Line-height: 35px;
            }
            
            .sch p{
                width: 420px;
                height: 50px;
                Font-size: 9px;
                Line-height: 25px;
                Letter-spacing: 0.3px;
                margin-top: 1rem;
            }
            
            .best1 p{
                Width: 100px;
                height: 15px;
                Font-size: 10px;
                Line-height: 12px;
                Letter-spacing: 0.3px;
                margin-left: 1rem;
                margin-top: 1rem;
            }
            
            .best1>img{
                width: 10px;
                margin-top: 1rem;
                height: 12px;
            }

            .btn4 button{
                width: 200px;
                height: 10px;
                font-size: 10px;
                line-height: 2px;
                margin-top: 1rem;
                margin-left: -1.7rem;
            }
            
            .macbookk img{
                margin-top: 0.8rem;
                margin-left: 4rem;
            }
            
            .macbookk>img{
                width: 190%;
                margin-left: -10rem;
                margin-top: 2rem;
            }

            .Track h2{
                Font-size: 25px;
                Line-height: 35px;
                Letter-spacing: 0.3px;
            }
            
            .Track p{
                Font-size: 10px;
                Line-height: 25px;
                Letter-spacing: 0.3px;
            }
            
            
            .Track2{
                border-radius: 8px;
                width: 170px;
                height: 220px;
                padding: 40px;
            }

            .Track2>img{
                margin-left: -1.2rem;
                width: 35%;
            }
            
            .Track2 h4{
                Font-size: 10px;
                Line-height: 20px;
                Letter-spacing: 0.2px;
                margin-top: 1rem;
            }
            
            .Track2 p{
                width: 140px;
                height: 30px;
                Font-size: 10px;
                Line-height: 15px;
                Letter-spacing: 0.9px;
                margin-top: 1.2rem;
                text-align: auto;
            }
            
            .Track2:hover {
                width: 280px;
                height: 310px;
                background: #EFFBFF;
                border: 1px solid #DEDEDE;
                box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
                border-radius: 10px;
                transform: scale(1.1);
                transition: 0.4s;
                color: #DEDEDE;
              }

              .power h2{
                width: 200px;
                height: 110px;
                Font-size: 16px;
                Line-height: 35px;
                Letter-spacing: 0.3px;
            }
            
            .power p{
                width: 200px;
                height: 36px;
                Font-size: 6px;
                Line-height: 20px;
                Letter-spacing: 0.3px;
            
            }
            
            
            .jaq p{
                width: 240px;
                height: 40px;
                Font-size: 10px;
                Line-height: 24px;
                color: #90A3B4;
                margin-left: 4rem;
            }


            .la{
                display: flex;
            }
            
            .lad>img{
                width: 20px;
                margin-left: 2rem;
                margin-right: -1rem;
            }


            .lad1>img{
                width: 50px;
                margin-right: 1rem;
                margin-top: -1rem;
            }
        
            
            .dam1 button{
                width: 20px;
                height: 20px;
                margin-top: 3rem;
                margin-left: -1rem;
            }
            
            .da1 h4{
                width: 100px;
                height: 15px;
                Font-size: 15px;
                Line-height: 20px;
                margin-left: -1rem;
                margin-top: 0.4rem;
            }
            
            .da1 span{
                width: 90px;
                height: 20px;
                Font-size: 7px;
                Line-height: 28px;
                margin-left: 2rem;
                margin-right: 5rem;
                margin-left: -1rem;
            }
            
            .da>img{
                width: 100%;
                margin-top: 0.5rem;
                margin-left: -1.5rem;
            }

            .dam2{
                display: flex;
                justify-content: space-evenly;
                margin-top: 2rem;
                padding-left: 3rem;
            }
            
            .dam{
                display: flex;
                justify-content: space-evenly;
            }
            

            
            .dam1:hover button{
                width: 20px;
                height: 20px; 
            }
            

            .dot>img{
                padding-top: -2rem;
                width: 5px;
            }   
            
            .dot{
                margin-top: -0.2rem;
                /* margin-left: 0.1rem; */
            }

            .section7{
                width: 75%;
            }
            
            .oon{
                margin-bottom: 4rem;
            }
            
            .sectn h2{
                width: 200px;
                height: 100px;
                Font-size: 20px;
                Line-height: 35px;
                padding-top: 3rem;
            }
            
            .sectn p{
                Font-size: 12px;
                Line-height: 32px;
                Letter-spacing: 0.3px;
                margin-top: 0.5rem;
            }
            
            .sectn>img{
                width: 12%;
               margin-left: 3.5rem;
               margin-top: 1.2rem;
            }
            
            .prop{
                display: flex;
                margin-top: -2rem;
            }

            .prop>img{
                width: 80px;
            }
            
            .prop p{
                Font-size: 12px;
                Line-height: 20px;
                margin-left: 1rem;
            }
            
            .bbt button{
                width: 110px;
                height: 40px;
                font-size: 12px;
                margin-top: 7rem;
            }
          
            .eya>img{
                width: 25%;
            }
            
            .eya p{
                width: 140px;
                height: 40px;
                Font-size: 10px;
            } 
            
            .eya1>img{
                width: 12%;
            }
        
            .you h3{
                Font-size: 14px;
                Line-height: 20px;
            }
        
            .you p{
                Font-size: 10px;
                Line-height: 14px;
                padding-right: 3rem;
            }

            .harrt p{
                Font-size: 10px;
            }
        
            .harrt>img{
                width: 52%;
            }

            .harrt img{
                padding-left: 23rem;
            }
            .harrt{
                padding-bottom: 2rem;
             }
}


